# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Elementborn/elementborn_3d_option3_pipeline/source_pngs/generated_assets/Meshy_AI_Patchwork_Pup_0623200155_texture_fbx.zip
Elementborn/elementborn_3d_option3_pipeline/source_pngs/generated_assets/Meshy_AI_3D游戏道具插画，_0623201501_texture_fbx.zip
Elementborn/elementborn_3d_option3_pipeline/source_pngs/generated_assets/Meshy_AI_Glowcap_Grove_0623200657_texture_fbx.zip
Elementborn/elementborn_3d_option3_pipeline/source_pngs/generated_assets/Meshy_AI_Throne_of_the_Crystal_0623201511_texture_fbx.zip
Elementborn/elementborn_3d_option3_pipeline/source_pngs/generated_assets/Meshy_AI_Verdant_Vessel_0623201453_texture_fbx.zip
Elementborn/elementborn_3d_option3_pipeline/source_pngs/generated_assets/Meshy_AI_Luminescent_Mushroom__0623201139_texture_fbx.zip
Elementborn/elementborn_3d_option3_pipeline/source_pngs/generated_assets/Meshy_AI_Radiant_Purple_Tree_0623201119_texture_fbx.zip
Elementborn/elementborn_3d_option3_pipeline/source_pngs/generated_assets/Meshy_AI_Verdant_Stone_Colossu_0623201518_texture_fbx.zip
/elementborn-large-assets-backup
